**

!docker/rootfs/*
!gentoogram
!pyproject.toml
!uv.lock
!.python-version
!README.md
!LICENSE

**/__pycache__
**/*.py[cod]
**/*$py.class
**/*.egg-info
**/.venv
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
